.button {
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: #
    ;
}

body {

background-color: yellow;
font-family: Helvetica;
font-size: large;

h1 (
    font-size: x-large;
    color: black;
)
}

button {
width: 60%;
max-width: 950px;
border: 4px gray solid;
margin: auto;
padding: 10px;
background-color: white;
border-radius: 10px;
}

header {
margin-top: 0;
border: 2px solid black;
padding: 5px;
height: 250px;
background: yellow;
color: white;
}
